/* Modelos/Modificaciones aplicables a todo el sitio */
html {
  font-size: 62,5%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth; }

.btn {
  background-color: #2EA37E;
  padding: 14px 40px;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #2EA37E;
  box-shadow: rgba(49, 49, 197, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  font-size: calc(0.61rem + .5vw);
  font-family: "Montserrat", sans-serif; }
  .btn.span:last-child {
    display: none; }
  .btn:hover {
    transition: .02s;
    border: 2px dashed #2EA37E;
    background-color: #fff;
    color: #2EA37E; }
  .btn:active {
    background-color: #87dbd0; }

/* Inicio mods del header */
.nav__modificaciones div div {
  display: flex;
  justify-content: space-around; }
  .nav__modificaciones div div a {
    font-family: "Nunito", sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: calc(0.61rem + .5vw);
    padding: 10px 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    color: #2a3d3b;
    transition: .4s;
    justify-content: space-around; }
    .nav__modificaciones div div a:hover {
      transition: .02s;
      border: 2px dashed #2EA37E;
      background-color: #d0f5ef;
      border-radius: .1rem; }

/* FIN NAVBAR */
/* INICIO mods MAIN  */
#noticiaPrincipal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/slider01.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #noticiaPrincipal div p {
    display: flex;
    justify-content: space-around;
    font-size: calc(1.4rem + 1.7vw);
    color: #ffff;
    padding: 40px;
    font-family: "Nunito", sans-serif; }
  #noticiaPrincipal div form {
    flex-direction: column; }

#goDown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #goDown a div {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer; }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer; }

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite; }

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */ }

.conteiner__card--propuesta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .conteiner__card--propuesta div {
    max-width: 22%;
    margin: 15px;
    min-width: 120px; }
    .conteiner__card--propuesta div img {
      z-index: -100;
      border-radius: 10px;
      border: 2px dashed rgba(0, 0, 0, 0);
      padding: 0 0;
      width: 100%; }
      .conteiner__card--propuesta div img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
        border-radius: 10px;
        border: 2px dashed #5e3b06;
        border: 2px dashed #ff672a; }

.conteiner__article {
  padding-top: 3vh; }
  .conteiner__article h2 {
    font-size: calc(1.4rem + 1.7vw);
    text-align: center;
    margin-top: 110px;
    margin-bottom: 5px; }
  .conteiner__article h3 {
    font-size: calc(0.61rem + 1.3vw);
    text-align: center;
    color: #2EA37E;
    margin-top: 5px; }
  .conteiner__article p {
    font-size: calc(0.61rem + .9vw);
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.conteiner__article--comofunciona {
  min-height: 100vh;
  padding: 5vh 0;
  background-color: #477734; }
  .conteiner__article--comofunciona h2 {
    color: white;
    font-size: calc(1.4rem + 1.7vw);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 5px; }
  .conteiner__article--comofunciona h3 {
    color: white;
    font-size: calc(0.61rem + 1.3vw);
    text-align: center;
    color: #FF8800;
    margin-top: 5px; }
  .conteiner__article--comofunciona h5 {
    font-size: calc(0.61rem + 1.3vw);
    text-align: center;
    color: black;
    margin-top: 5px; }
  .conteiner__article--comofunciona p {
    color: white;
    font-size: calc(0.61rem + 1.3vw);
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 2vh 2vw;
    margin: 4%; }

.card {
  max-width: 42%;
  max-width: 20%;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow: auto; }
  .card h5 {
    font-family: "Nunito", sans-serif;
    color: #FF8800;
    font-size: calc(0.61rem + 1.3vw); }

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px; }

#footer {
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.319765) 4%, #fcb045 25%, #ff672a 100%);
  background-color: #FF8800;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: calc(0.61rem + .5vw);
  text-align: center;
  color: #fff; }
  #footer div {
    padding: 15px;
    display: inline-block;
    margin: auto; }

/* FIN mods FOOTER  */
.subpage__subtitulo {
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/background_title.png);
  margin-bottom: 10%; }
  .subpage__subtitulo p {
    font-family: "Nunito", sans-serif;
    color: #fff;
    font-size: calc(1.4rem + 1.7vw);
    text-align: center;
    padding: 18px;
    margin-bottom: 150px; }
  .subpage__subtitulo h2 {
    font-size: calc(1.4rem + 1.7vw);
    padding: 0 10%;
    margin-bottom: 10px; }

.max__img_plato {
  max-width: 10%;
  min-width: 50px; }

.pageBeneficios__cuerpo {
  padding: 0 10%;
  max-width: 100%;
  display: flex;
  flex-direction: column; }
  .pageBeneficios__cuerpo div img {
    max-width: 100px; }
  .pageBeneficios__cuerpo div p {
    font-size: calc(0.61rem + 1.3vw); }

.pagePlatos__card {
  max-width: 22%;
  min-width: 22%;
  padding: 0;
  margin: 0 3%; }

#pageContacto__cuerpo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#pageComoFunciona__cuerpo {
  display: flex; }
  #pageComoFunciona__cuerpo div {
    align-items: center;
    justify-content: center; }

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative; }

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative; }

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #2EA37E;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s; }

.our-team:hover .picture::before {
  height: 100%; }

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2EA37E;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s; }

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7); }

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize; }

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s; }

.our-team:hover .social {
  bottom: 0; }

.our-team .social li {
  display: inline-block; }

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none; }

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec; }

@media (max-width: 978px) {
  .btn {
    font-size: 10px; }
  #map {
    display: none; } }

@media (max-width: 1130px) {
  #map {
    display: none; }
  #noticiaPrincipal {
    min-height: 73vh; }
  .our-team {
    margin: 8%; }
  .card {
    max-width: 42%; } }

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    top: 90%;
    opacity: 0; } }
