/* Modelos/Modificaciones aplicables a todo el sitio */
html{
    font-size: 62,5%;
}
* {
    margin:  0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}
#combo-lorem{font-size: 4rem;}
.grid-contenedor-padre{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
}
.grid-item-hijo {
    border: 0px solid rgb(17, 47, 182);
    
}
.drop { filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); }
.background__titulo{
    background-color: #00BFA6;
    padding: 35px 10vw;
}
.contenedorTitulo{margin-bottom: 130px;}


.site__imagen__bordes{
    border-radius:10px;
    border: 2px dashed #FFFF;
    margin: 15px;
    width: 100%;
}
.divto20{
    max-width: 20%;
    margin: 15px;
    min-width: 120px;
    
}
.divto22{
    max-width: 22%;
    margin: 15px;
    min-width: 120px;
}
.divto15{
    max-width: 15%;
    margin: 15px;
    min-width: 15%;
}
.prop_opacity_cursor:hover{
    opacity: 0.5; filter: alpha(opacity=50);
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #5e3b06;
}

.padding5{
    padding: 5%;
}
.padding15{
    padding: 15px;
}
.margin5{
    margin: 2%;
}
.btn {
    background-color: #00BFA6;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(49, 49, 197, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-size:calc(0.61rem + .51vw);
    font-family: 'Exo 2', sans-serif;
    
    &.span:last-child {
        display: none;
    }
    &:hover{
        transition: .02s;
        border: 2px dashed #00BFA6;
        background-color: #fff;
        color: #00BFA6;
    }
    &:active {
        background-color: #87dbd0;
    }

}


/* Inicio mods del header */



// INICIO NAVBAR

#navMobile{display: none;}
#navDesktop{
    margin: 0;
    padding: 10px;
    header{
        display: flex;
        justify-content:space-around;
        align-items: center;
        div{
            padding: 0;
            nav{
                ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    text-decoration: none;
                    li{
                        a{
                            display: inline-block;
                            text-decoration: none;
                            font-size: large;
                            padding: 10px 30px;
                            border: 2px solid rgba(0, 0, 0, 0);
                            color: #2a3d3b;
                            transition: .4s;
                            &:hover{
                                transition: .02s;
                                border: 2px dashed #00BFA6;
                                background-color: #d0f5ef;
                                border-radius: .1rem; 
                            }
                        }
                    }
                }
            }
        }
    }

}

/* FIN NAVBAR */


/* INICIO mods MAIN  */

#noticiaPrincipal{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/slider01.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        p{
            display: flex;
            justify-content: space-around;
            font-size:calc(1.6rem + 1.7vw);
            color: #ffff;
            padding: 40px;
        }
        form{flex-direction: column;}
    }
}

#conteiner__article{
    h2{
        font-size:calc(1.4rem + 1.7vw);
        text-align: center;
        margin-top: 110px;
        margin-bottom: 5px;
    }
    h3{
        font-size:calc(0.61rem + 1.3vw);
        text-align: center;
        color: #2EA37E;
        margin-top: 5px;
    }
    p{
        font-size:calc(0.61rem + .9vw);
        text-align: justify;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        padding: 2vh 2vw;
        margin: 4%;
    }
}

















.imagen100vw{
    width:100%;
}
.conteiner__card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div{
        div{
            h5{ text-align: center;font-family: 'Exo 2', sans-serif;}
        }
    }
}

/* FIN mods MAIN  */

/* INICIO mods FOOTER  */

#footer__gradient{
    min-height: 100px;
    background-color: #ecac00;
    background-image: linear-gradient(0deg, #ecac00 0%, #ffffff 100%);
    margin-top: 100px;
}


.footer__prop{
    background-color: #ECAC00;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size:calc(0.61rem + .51vw);
    text-align: justify;
    text-align: center;
}

.footer__hijo{
    display: inline-block;
    margin: auto;
    /* padding: 2%; */
}
.footer__clicktowhatsapp:hover{cursor: pointer;}
.footer__align{text-align: center;align-items: center; margin-bottom: 10%;}
#newSubscription{margin: 10px;}
.footer__font--cuerpo{

}

/* FIN mods FOOTER  */

.gridCuerpoPagina{
    display: grid;
}
.cuerpoBeneficios img{
    max-width: 10%;
    min-width: 100px;
}
.max__img_plato{
    max-width: 10%;
    min-width: 50px;
}








@media (max-width: 978px) {
    #navDesktop{display: none;}
    .header__logo{margin: auto;max-width: 50vw;}
    .divto15{min-width: 10rem;width: 20%;}
    .main__noticia-principal{min-height: 250px;}
    .btn{font-size: 10px ;}
    #map{display: none;}

}
@media (max-width: 1130px) {
#map{display: none;}
#navMobile{display:inline;}
#navDesktop{display: none;}
#noticiaPrincipal{margin-top: 100px;}
}

